@page "{id:int}"
@model DetailsModel

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">EventVibe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Create">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2>@Model.Event.EventName</h2>
<p>@Model.Event.Date.ToShortDateString()</p>
<p>@Model.Event.Location</p>
<p>@Model.Event.Description</p>

